body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333333;
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
}

.header {
    font-size: 6rem;
    font-weight: bold;
    color: #89DE00;
    margin-bottom: 1rem;
}

.logo {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 200px; /* Vergrößertes Logo */
}

.container {
    text-align: left;
    padding: 2rem;
    max-width: 80%;
    margin: 2rem 0;
}

.text {
    font-size: 1.4rem;
    margin: 0.5rem 0;
    text-align: left;
    color: #333333;
    line-height: 1.6;
    max-width: 60%;
}

.contact {
    font-size: 1.2rem;
    margin: 2rem 0;
    text-align: left;
    color: #89DE00;
}

.image-container {
    width: 100%; /* Container bleibt flexibel */
    margin: 2rem 0;
    display: flex;
    justify-content: center; /* Bild zentrieren */
}

.image-container img {
    width: 40%; /* Verkleinere das Bild auf 40% der Containerbreite */
    height: auto; /* Behalte das Seitenverhältnis bei */
}

@media (max-width: 768px) {
    body {
        padding: 1rem;
        align-items: center;
    }

    .header {
        font-size: 4rem;
        text-align: center;
    }

    .logo {
        width: 150px;
        top: 1rem;
        right: 1rem;
    }

    .container {
        max-width: 100%;
        padding: 1rem;
        margin: 1rem 0;
    }

    .text {
        font-size: 1.2rem;
        margin: 0.5rem;
        max-width: 90%;
        text-align: center;
    }

    .contact {
        font-size: 1rem;
        margin: 1rem 0;
        text-align: center;
    }

    .image-container img {
        width: 80%; /* Größeres Bild auf mobilen Geräten */
    }
}