body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333333;
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
}

.header {
    font-size: 6rem;
    font-weight: bold;
    color: #89DE00;
    margin-bottom: 1rem;
}

.logo {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 200px; /* Vergrößertes Logo */
}

.container {
    text-align: left;
    padding: 2rem;
    max-width: 80%;
    margin: 2rem 0;
}

.text {
    font-size: 1.4rem;
    margin: 0.5rem 0;
    text-align: left;
    color: #333333;
    line-height: 1.6;
    max-width: 60%;
}

.contact {
    font-size: 1.2rem;
    margin: 2rem 0;
    text-align: left;
    color: #89DE00;
}

.image-container {
    width: 40%; /* Bild verkleinert */
    margin: 2rem 0;
}